:root {
  --header-foot-bg-color: rgb(44, 62, 80);
  --main-bg-color-green: rgb(26, 188, 156);
  --footer-bg-color:  rgb(58, 84, 109);
  --green: rgb(26, 188, 156);
}

a {
  text-decoration: none;
  color: white;
}
/* header */
header {
  background-color: var(--header-foot-bg-color);
  color: white;
}

header ul.nav-header li:hover a {
  color: var(--green);
}

header div.row div.bar-icon i {
  color: lightgray;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  border: 1px solid white;
  border-radius: 10px;

}

@media screen and (max-width: 576px) {
  header div.row div > h1 {
    font-size: 1.3em;
  }
  header div.row ul.nav-header {
    font-size: 0.6em;
  }
  header div:first-child {
    
  }
}
@media screen and (min-width: 577px) {
  header div.row div > h1 {
    font-size: 1.5em;
  }
  header div.row ul.nav-header {
    font-size: 0.8em;
  }
}
/* main */
/* jumbo */
main section.jumbotron {
  background-color: var(--main-bg-color-green);
}
.circle-red {
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
}


main section.jumbotron div.row > div > div {
  margin: 1em 0;
}

/* portfolio */
div.red {
  background-color: red;
  width: 100%;
  height: 5px;
  /* margin-top: 3em; */
}
div.decoration {
  width: 100%;
  height: 5px;
  background-color: yellow;
  margin-top: 2em;
}

div.green {
  background-color: green;
  width: 100%;
  height: 200px;
}
div.black {
  background-color: black;
  width: 100%;
  height: 200px;
}

/* about */
main section.about {
  background-color: var(--main-bg-color-green);
}

.big-green {
  background-color: yellowgreen;
  height: 200px;
  width: 100%;
}

/* contact me */
.name {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: violet;
}
.email {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: crimson;
}
.number {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: chocolate;
}
.mex {
  height: 50px;
  background-color: blueviolet;
}
.small-black {
  width: 100%;
  background-color: black;
  height: 50px;
}

/* footer */
footer div.footer-top {
  background-color: var(--footer-bg-color);
}
footer div.copyright {
  background-color: var(--header-foot-bg-color);
}
div.white {
  height: 140px;
  background-color: white;
}
div.footer-bottom {
  background-color: white;
  height: 10px;
}
