:root {
  --header-foot-bg-color: rgb(44, 62, 80);
  --main-bg-color-green: rgb(26, 188, 156);
  --footer-bg-color:  rgb(58, 84, 109);
  --green: rgb(26, 188, 156);
}


/* general rules */
main section h2 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: white;
}

main section div.star-white i,
main section div.star-black i {
  font-size: 1.5em;
  margin: 0 0.8em;
}

main section div.star-white::before,
main section div.star-white::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1.5px solid white;
  background-color: white;
  width: 15%;
  margin-bottom: 5px;
}
main section div.star-black::before,
main section div.star-black::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1.5px solid black;
  background-color: black;
  width: 15%;
  margin-bottom: 5px;
}
/* header */
header {
  background-color: var(--header-foot-bg-color);
  color: white;
}

header ul.nav-header li:hover a {
  color: var(--green);
}

header div.row div.bar-icon i {
  color: lightgray;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  border: 1px solid white;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  header div.row div > h1 {
    font-size: 1.3em;
  }
  header div.row ul.nav-header {
    font-size: 0.6em;
  }
  header div.row > div {
    margin: 1em 0;
  }
}
@media screen and (min-width: 575px) {
  header div.row div > h1 {
    font-size: 1.5em;
  }
  header div.row ul.nav-header {
    font-size: 0.8em;
  }
}


/* main */
/* jumbo */
main section.jumbotron {
  background-color: var(--main-bg-color-green);
  color: white;
  padding-top: 3em;
}

main section.jumbotron img.avatar {
  width: 20%;
}


main section.jumbotron div.col-12 > * {
  margin-top: 0.5em;
}

ul.nav-jumbo li.before-hr::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1px solid white;
  width: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  main section.jumbotron img.avatar {
    width: 50%;
  }
}
@media screen and (min-width: 575px) and (max-width: 768px) {
  main section.jumbotron img.avatar {
    width: 40%;
  }
}


/* portfolio */
main section.portfolio {
  color: black;
}

main section.portfolio div.star-black {
  margin-bottom: 1em;
}

main section.portfolio img {
  width: 100%;
  border-radius: 10px;
}

/* main section.portfolio div.position-relative i {
  color: white;
  font-size: 2.5em;
  background-color: var(--main-bg-color-green);
  display: none;
} */

/* main section.portfolio div img:hover  {
  cursor: pointer;
  opacity: 0.5;
} */

/* main section.portfolio div img:hover i {
  display: block;
} */



/* about */
main section.about {
  background-color: var(--main-bg-color-green);
  color: white;
}
main section.about a.fake-btn {
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 5px;
}
main section.about a.fake-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

main section.about a.fake-btn span.download {
  margin-right: 0.3em;
}


/* contact me */
main section.contact-me {
  color: black;
}

main section.contact-me a.fake-btn-end {
  background-color: var(--main-bg-color-green);
  color: white;
  padding: 0.6em;
  border-radius: 5px;
  cursor: pointer;
}
/* footer */
footer div.footer-top {
  background-color: var(--footer-bg-color);
  color: white;
}

footer div.footer-top ul.nav-footer li  {
  border: 1px solid white;
  border-radius: 50%;
}
footer div.footer-top ul.nav-footer li a i {
  margin: 1em 1.2em;
  font-size: 0.6em;
}
span.green-text {
 color: var(--green);
}
footer div.footer-bottom {
  background-color: var(--header-foot-bg-color);
  color: white;
}
