:root {
  --header-foot-bg-color: rgb(44, 62, 80);
  --main-bg-color-green: rgb(26, 188, 156);
  --footer-bg-color:  rgb(58, 84, 109);
}

/* header */
div.blue-header  {
  height: 50px;
  border: 1px solid black;
  background-color: blue;
}
header {
  background-color: var(--header-foot-bg-color);
  height: 80px;
}
header.container-fluid div.row {
  height: 100%;
}

/* main */
/* jumbo */
main section.jumbotron {
  background-color: var(--main-bg-color-green);
}
.circle-red {
  width: 50px;
  height: 50px;
  background-color: red;
}
.fake-h1 {
  width: 90%;
  height: 30px;
  background-color: blue;
}
.fake-decoration {
  width: 80%;
  height: 10px;
  background-color: black;
}
.fake-p {
  width: 100%;
  height: 25px;
  background-color: white;
}

main section.jumbotron div.row > div > div {
  margin: 1em 0;
}

/* portfolio */
div.red {
  background-color: red;
  width: 100%;
  height: 5px;
  /* margin-top: 3em; */
}
div.decoration {
  width: 100%;
  height: 5px;
  background-color: yellow;
  margin-top: 2em;
}

div.green {
  background-color: green;
  width: 100%;
  height: 200px;
}
div.black {
  background-color: black;
  width: 100%;
  height: 200px;
}

/* about */
main section.about {
  background-color: var(--main-bg-color-green);
}

.big-green {
  background-color: yellowgreen;
  height: 200px;
  width: 100%;
}

/* contact me */
.name {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: violet;
}
.email {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: crimson;
}
.number {
  height: 50px;
  border-bottom: 1px solid red;
  background-color: chocolate;
}
.mex {
  height: 50px;
  background-color: blueviolet;
}
.small-black {
  width: 100%;
  background-color: black;
  height: 50px;
}

/* footer */
footer div.footer-navbar {
  background-color: var(--footer-bg-color);
}
footer div.copyright {
  background-color: var(--header-foot-bg-color);
}
div.white {
  height: 140px;
  background-color: white;
}
div.end-footer {
  background-color: white;
  height: 10px;
}
